extends layouts/layout 

block content
  //- Section A
  .con-margin.card
    .sections.section-a.flex.flx-col
      a(href="/") 
        h1.logo ChatPal 
      .links 
        a(href="/signin")
          .link.btn.flex Sign In
        a(href="/signup")
          .link.btn.flex Sign Up
